<div class="long">
    <div class="biu">
            <div class="cenont">
                    <div>
                        <img src="images/index_22.png" alt="图片加载失败">
                    </div>
                    <div><img src="images/index_18.png" alt="图片加载失败">
                        <p>PINAE</p>
                       <div class="zhi"></div>
                        <p>平面模特</p>
                    </div>
                    <div><img src="images/index_20.png" alt="图片加载失败">
                        <p>THE RACQUET</p>
                        <div class="zhi"></div>
                        <p>网拍模特</p>
                    </div>   
            </div>
    </div>
    <div class="biu">
            <div class="cenont">
                    <div>
                        <img src="images/index_20.png" alt="图片加载失败">
                    </div>
                    <div><img src="images/index_18.png" alt="图片加载失败">
                        <p>PINAE</p>
                       <div class="zhi"></div>
                        <p>平面模特</p>
                    </div>
                    <div><img src="images/index_22.png" alt="图片加载失败">
                        <p>THE RACQUET</p>
                        <div class="zhi"></div>
                        <p>网拍模特</p>
                    </div>   
            </div>
    </div>
    <div class="biu">
            <div class="cenont">
                    <div>
                        <img src="images/index_22.png" alt="图片加载失败">
                    </div>
                    <div><img src="images/index_18.png" alt="图片加载失败">
                        <p>PINAE</p>
                       <div class="zhi"></div>
                        <p>平面模特</p>
                    </div>
                    <div><img src="images/index_20.png" alt="图片加载失败">
                        <p>THE RACQUET</p>
                        <div class="zhi"></div>
                        <p>网拍模特</p>
                    </div>   
            </div>
    </div>
    <div class="biu">
            <div class="cenont">
                    <div>
                        <img src="images/index_18.png" alt="图片加载失败">
                    </div>
                    <div><img src="images/index_22.png" alt="图片加载失败">
                        <p>PINAE</p>
                       <div class="zhi"></div>
                        <p>平面模特</p>
                    </div>
                    <div><img src="images/index_20.png" alt="图片加载失败">
                        <p>THE RACQUET</p>
                        <div class="zhi"></div>
                        <p>网拍模特</p>
                    </div>   
            </div>
    </div>
</div>
<div class="but">
        <button></button>
        <button></button>
        <button></button>
        <button></button>  
</div> 
<script src="js/lunbo.js">
        
</script>         